body{
	background-color: #191f21;
	font-family: arial;
	color: #919191;
}

.center{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px;
	overflow: auto;
}


.blinking{
    animation:blinkingText 0.8s infinite;
    float: right;
    margin-bottom: 1500px;
    padding-right: 400px;
    padding-bottom: 500px;
    margin-bottom: 600px;
    font-weight:bolder;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/*hero image*/

.professionalimage{
	background-color: pink;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 25% 0%;
}

.professionalimage h1{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 0px;
	border-right: 0px;
	color: white;
	display: table;
	margin: 0 auto;
	font-weight: bold;
	font-size: 43px;
	padding: 1% 0;
	text-transform: uppercase;
}

.professionalimage a{
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 20px 41px;
	display: table;
	margin: 0 auto;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 13.5px;
}

/*header*/

header{
	height:70px;
	background-color: #252e30;
	position: sticky;
}

.header-cont img{
	margin-top: 15px;
}

.header-cont ul{
	list-style: none;
	float: right;
	margin: 0px;
	padding: 0px;
}

.header-cont ul li{
	float: left;
	margin: 0px;
	padding: 0px;
}

.header-cont ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	float: right;
	padding-left: 40px;
	font-size: 15px;
	margin-top: 26px;
}

.header-cont ul li a:hover, a:active{
	color: #2b975b;
}

/*values*/

.valgoalhob{
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}

.valgoalhob .panel{
	float: left;
}

.valgoalhob .values{
	width: 30%;
}

.valgoalhob .hobbies{
	width: 30%;
	padding-left: 5%;
}

.valgoalhob .goals{
	width: 30%;
	padding-left: 5%;
}


/*aboutme*/

.aboutme{
	background-color: #f2f2f1;
	background-image: url(../img/k1.jpg);
	background-size: 31% 100%;
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
}

.aboutme .about{
	width: 65%;
	float: right;
}

.aboutme .about .iconfloater{
	float: left;
}

.aboutme .about .webandicon{
	width: 47.5%;
}

.aboutme .about .webandicon .world-icon{
	display: inline-block;
	width: 15%;
	height: 43px;
	padding-top: 18px;
	font-size: 43px;
	color: #2ecc71;
}

.aboutme .about .webandicon .webdesign{
	width: 85%;
	float: right;
}

.aboutme .about .graphicandicon{
	width: 47.5%;
	margin-left: 5%;
}

.aboutme .about .graphicandicon .graphic-icon{
	display: inline-block;
	width: 15%;
	height: 43px;
	padding-top: 18px;
	font-size: 43px;
	color: #2ecc71;
}

.aboutme .about .graphicandicon .graphicdesign{
	width: 85%;
	float: right;
}

.aboutme .about .markettingandicon{
	width: 47.5%;
}

.aboutme .about .markettingandicon .marketting-icon{
	display: inline-block;
	width: 15%;
	height: 43px;
	padding-top: 18px;
	font-size: 43px;
	color: #2ecc71;
}

.aboutme .about .markettingandicon .marketting{
	width: 85%;
	float: right;
}

.aboutme .about .seoandicon{
	width: 47.5%;
	margin-left: 5%;
}

.aboutme .about .seoandicon .seo-icon{
	display: inline-block;
	width: 15%;
	height: 43px;
	padding-top: 18px;
	font-size: 43px;
	color: #2ecc71;
}

.aboutme .about .seoandicon .seo{
	width: 85%;
	float: right;
}

/*Skills*/

.skills{
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 100px;
}

.skills .center .writtenskills{
	width: 46%;
	float: left;
}

.skills .center .writtenskills a{
	border: 2px solid #2ecc71;
	text-decoration: none;
	color: #2ecc71;
	padding: 10px 15px;
	font-weight: bold;
}

.skills .center .ratings{
	width: 46%;
	float: right;
}

.skills .center .ratings .mainrating{
	background-color: #f2f2f1;
	height: 30px;
}

.skills .center .ratings .mainrating .percentage1{
	width: 60%;
	text-align: right;
	background-color: #2ecc71;
	height: 30px;
}

.skills .center .ratings .mainrating .percentage2{
	width: 75%;
	text-align: right;
	background-color: #2ecc71;
	height: 30px;
}

.skills .center .ratings .mainrating .percentage3{
	width: 90%;
	text-align: right;
	background-color: #2ecc71;
	height: 30px;
}

.skills .center .ratings .mainrating .percentage4{
	width: 20%;
	text-align: right;
	background-color: #2ecc71;
	height: 30px;
}

/*resume*/

.resume{
	background-color: #f2f2f1;
	position: relative;
}

.resume .resumedetails{
	text-align:center;
	padding-top: 80px;
	padding-bottom: 90px;
}

.resume .resumedetails a{
	color: #2ecc71;
	text-decoration: none;
	border: 2px solid #2ecc71;
	padding: 10px 15px;
	font-weight: bold;
}

.resume .arrow{
	color: #f2f2f1;
	width: 8%;
	height: 70px;
	font-size: 70px;
	position: absolute;
	left: 46%;
	bottom: -13px;
	font-size: 120px;
}

/*education*/

.myeducation{
	background-color: #fff;
	overflow:auto;
	padding-top: 90px;
}

.myeducation .myeducationwriting{
	width:46%;
	float:left;
}

.myeducation .actualeducation{
	width:46%;
	float:right;
}

.myeducation .actualeducation h3{
	font-weight: bold;
}

p.buttons{
	background-color: #2ecc71;
	width: 70px;
	height: 25px;
	color: white;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 28px;
}

.myeducation .actualeducation hr{
	margin-bottom: 28px;
}

/*workexperience*/

.solohr{
	margin-top: 100px;
	margin-bottom: 80px;
}

.workexperience{
	background-color: #fff;
	padding-bottom: 90px;
	overflow:auto;
}

.workexperience .workexperiencewriting{
	width: 46%;
	float:left;
}

.workexperience .actualworkexperience{
	width: 46%;
	float:right;
}

.workexperience .actualworkexperience h3{
	font-weight: bold;
}

.workexperience .actualworkexperience hr{
	margin-bottom: 28px;
}

/*quotes*/

.quotes{
	background-color: #f2f2f1;
	padding-top:90px;
	padding-bottom: 80px;
}

.quotesdetails{
	text-align: center;
}

/*portfolio*/

.portfolio{
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}

.portfolio .portfoliowriting{
	text-align: center;
	padding-bottom: 90px;
}

.portfolio .images .panel{
	float:left;
}

.images img{
	width: 100%;
	height: 300px;
}

.images .img1{
	height:300px;
	background-color: #252e30;
	color:#fff;
	margin-bottom: 30px;
	font-size: 17px;
	line-height: 2em;
	width: 30%;
	margin-right: 5%;
}

.images .img1 h4{
	text-indent: 40px;
}

.images .img1 ul{
	list-style: none;
}

.images .img2{
	height:300px;
	background-color: #252e30;
	margin-bottom: 40px;
	width: 30%;
	margin-right: 5%;
}

.images .img3{
	width: 30%;
	height:300px;
	background-color: #252e30;
	margin-bottom: 40px;
}

.images .img4{
	width: 30%;
	margin-right: 5%;
	height:300px;
	background-color: #252e30;
	margin-bottom: 40px;
}

.images .img5{
	width: 30%;
	margin-right: 5%;
	height:300px;
	background-color: #252e30;
	margin-bottom: 40px;
}

.images .img6{
	width: 30%;
	height:300px;
	background-color: #252e30;
	margin-bottom: 40px;
}

.images .img7{
	width: 30%;
	margin-right: 5%;
	height:300px;
	background-color: #252e30;
}

.images .img8{
	width: 30%;
	margin-right: 5%;
	height:300px;
	background-color: #252e30;
}

.images .img9{
	width: 30%;
	height:300px;
	background-color: #252e30;
}

/*contact me*/

.contactme{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #252e30;
	color:white;
}

.contactme .contactwriting{
	width: 46%;
	float:left;
	color: #919191;
}

.contactme .form{
	width: 46%;
	float:right;
}

.contactme .form form{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.contactme .form ul{
	list-style: none;
	padding:0px;
	margin:0px;
}

.contactme .form label{
	display:block;
	margin-bottom: 20px;
	padding-top: 50px;
}

.contactme .form input+label{
	display:inline;
}

.contactme .form input{
	width: 100%;
	height:60px;
	background-color: #4b5456;
	border: 0px;
}

.contactme .form input[name="Email"]{
	height:280px;
}

.contactme .form input[type="submit"] {
	width: 44%;
	height: 54px;
	margin-top: 40px;
	background-color: #191f21;
	color: white;
	font-weight: bold;
	padding-right: 5px;
}

/*footer*/

footer .footercopyright p{
	text-align: center;
	color: #4b5456;
	font-size: 17px;
	padding-top:50px;
	padding-bottom:28px;

}

footer .icons{
	padding-bottom: 50px;
	text-align: center;
}

footer .icons a{
	text-decoration: none;
	display:inline;
}

footer .icons .panelicon{
	background-color: #4b5456;
}

footer .icons .twitter-icon{
	display: inline-block;
	line-height: 1.9em;
	text-align: center;
	color: #191f21;
	width:40px;
	height:40px;
	border-radius: 20px;
	font-size: 22px;
	margin-right: 0.41%;
}

footer .icons .twitter-icon:hover{
	color: white;
}

footer .icons .facebook-icon{
	display: inline-block;
	line-height: 1.9em;
	text-align: center;
	color: #191f21;
	width:40px;
	height:40px;
	border-radius: 20px;
	font-size: 22px;
	margin-right: 0.41%;
}

footer .icons .facebook-icon:hover{
	color: white;
}

footer .icons .pinterest-icon{
	display: inline-block;
	line-height: 1.9em;
	text-align: center;
	color: #191f21;
	width:40px;
	height:40px;
	border-radius: 20px;
	font-size: 22px;
	margin-right: 0.41%;
}

footer .icons .pinterest-icon:hover{
	color: white;
}

footer .icons .google-icon{
	display: inline-block;
	line-height: 1.9em;
	text-align: center;
	color: #191f21;
	width:40px;
	height:40px;
	border-radius: 20px;
	font-size: 22px;
	margin-right: 0.41%;
}

footer .icons .google-icon:hover{
	color: white;
}

footer .icons .web-icon{
	display: inline-block;
	line-height: 1.9em;
	text-align: center;
	color: #191f21;
	width:40px;
	height:40px;
	border-radius: 20px;
	font-size: 22px;
	margin-right:0.41%;
}

footer .icons .web-icon:hover{
	color: white;
}

footer .icons .linked-icon{
	display: inline-block;
	line-height: 1.9em;
	text-align: center;
	color: #191f21;
	width:40px;
	height:40px;
	border-radius: 20px;
	font-size: 22px;
}

footer .icons .linked-icon:hover{
	color: white;
}



/*media queries*/

@media only screen and (max-width: 600px){

	body{
		font-size: 15px;
	}
	.professionalimage h1{
		font-size: 15px;
	}

	.professionalimage a{
		padding: 10px 21px;
		font-size: 7.5px;
	}

	.valgoalhob .center .panel{
		width: 100%;
		padding: 0px;
	}

	.aboutme{
		background-image: none;
		padding: 0px;
	}

	.aboutme .about{
		width: 100%;
	}

	.aboutme .about .webandicon, .aboutme .about .graphicandicon, .aboutme .about .markettingandicon, .aboutme .about .seoandicon{
		width: 100%;
		margin: 0px;
	}

	.aboutme .about .webandicon .world-icon, .aboutme .about .graphicandicon .graphic-icon, .aboutme .about .markettingandicon .marketting-icon, .aboutme .about .seoandicon .seo-icon{
		font-size: 18px;
	}

	.skills .center .writtenskills{
		width: 100%;
		padding-bottom: 50px;
	}

	.skills .center .ratings{
		width: 100%;
	}

	.myeducation .myeducationwriting, .myeducation .actualeducation, .workexperience .workexperiencewriting, .workexperience .actualworkexperience{
		width:100%;
	}

	.images .img1, .images .img2, .images .img3, .images .img4, .images .img5, .images .img6, .images .img7, .images .img8, .images .img9{
		width: 100%;
		margin: 10px auto;
	}

	.contactme .contactwriting{
		width: 100%;
	}

	.contactme .form{
		width: 100%;
		float:right;
	}

	footer .footercopyright p{
		font-size: 12px;
	}

	footer .icons .twitter-icon, footer .icons .facebook-icon, footer .icons .pinterest-icon, footer .icons .google-icon, footer .icons .web-icon, footer .icons .linked-icon{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		font-size: 15px;
		line-height: 1.4em;
	}
}


@media only screen and (max-width: 900px) and (min-width: 600px){
	.professionalimage h1{
		font-size: 30px;
	}

	.professionalimage a{
		padding: 15px 31px;
		font-size: 11.5px;
	}


	.valgoalhob .center .panel{
		width: 100%;
		padding: 0px;
		font-size: 15px;
	}

	.aboutme{
		background-image: none;
		padding: 0px;
	}

	.aboutme .about{
		width: 100%;
	}

	.aboutme .about .webandicon .world-icon, .aboutme .about .graphicandicon .graphic-icon, .aboutme .about .markettingandicon .marketting-icon, .aboutme .about .seoandicon .seo-icon{
		font-size: 30px;
	}

	.images .img1{
		font-size: 15px;
		line-height: 2em;
		width: 30%;
		margin-right: 5%;
	}

	.images .img1 h4{
		text-indent: 10px;
	}

	footer .icons .twitter-icon, footer .icons .facebook-icon, footer .icons .pinterest-icon, footer .icons .google-icon, footer .icons .web-icon, footer .icons .linked-icon{
		display: inline-block;
		line-height: 1.6em;
		width: 30px;
		height:30px;
		border-radius: 15px;
		font-size: 19.5px;
		margin-right: 0.41%;
	}
}