p{
	height: 150px;
	width: 500px;
	background-color:blue;
	border: 5px solid red;
	padding: 20px;
	margin: 30px auto;

	font-family: Lato;
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
 
}


p{
	padding: 0 px;
	margin: 0 auto;
}
body{
	background-image: 
}





}




